In [ ]:
-----------------------------------------------> Introduction to List datatype <-----------------------------------------------

In [ ]:
definition :- A list ia collection of items in a particular order.
    
classification :- It is classified as a mutable datatype.
    

how do you declare a list. -----> [] =====> square brackets.

In [2]:
students = ['ansh','shivansh','ayush','anshika','priyanka']

print(students)

['ansh', 'shivansh', 'ayush', 'anshika', 'priyanka']

In [3]:
type(students)

list

In [4]:
print(students)

['ansh', 'shivansh', 'ayush', 'anshika', 'priyanka']

In [ ]:
# req : how to access the elements from the list.....?

In [ ]:
indexing : 0,1,2,3,4,5.......

In [5]:
print(students[1])

shivansh

In [6]:
print(students[3])

anshika

In [ ]:
1. how to add new elements to a list.

2.how to modify the elements in the list.

3. how to delete the elements in the list.

In [13]:
print(students)

['ansh', 'shivansh', 'ayush', 'anshika', 'priyanka', 'varun', 'varun', 'varun', 'varun']

In [ ]:
# req : i want to add varun to the above list?

In [17]:
students.append('varun')

In [18]:
print(students)

['ansh', 'shivansh', 'ayush', 'anshika', 'priyanka', 'varun']

In [19]:
students.append('piyush')

In [20]:
print(students)

['ansh', 'shivansh', 'ayush', 'anshika', 'priyanka', 'varun', 'piyush']

In [ ]:
# req : i want to add vanya to 2nd index?

In [24]:
students.insert(2,'vanya')

In [25]:
print(students)

['ansh', 'shivansh', 'vanya', 'ayush', 'anshika', 'priyanka', 'varun', 'piyush']

In [26]:
print(students[2])

vanya

In [ ]:
interview questions : what is the diff. b/w append and insert in a list? can you explain?

In [ ]:
how to modify elements in the list?

In [27]:
print(students)

['ansh', 'shivansh', 'vanya', 'ayush', 'anshika', 'priyanka', 'varun', 'piyush']

In [ ]:
# req : i want to modify ayush name to priyank?

In [28]:
students[3]='priyank'

In [29]:
print(students)

['ansh', 'shivansh', 'vanya', 'priyank', 'anshika', 'priyanka', 'varun', 'piyush']

In [ ]:
3. how to delete the elements in a list?

In [30]:
print(students)

['ansh', 'shivansh', 'vanya', 'priyank', 'anshika', 'priyanka', 'varun', 'piyush']

In [ ]:
# req : i want to delete varun name in the list?

In [31]:
del students[6]

In [32]:
print(students)

['ansh', 'shivansh', 'vanya', 'priyank', 'anshika', 'priyanka', 'piyush']